@model DSED_07_Web_Development.Models.Novels

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Novels</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NovelId" class="control-label"></label>
                <input asp-for="NovelId" class="form-control" />
                <span asp-validation-for="NovelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NovelName" class="control-label"></label>
                <input asp-for="NovelName" class="form-control" />
                <span asp-validation-for="NovelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NovelPrice" class="control-label"></label>
                <input asp-for="NovelPrice" class="form-control" />
                <span asp-validation-for="NovelPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NovelAuthor" class="control-label"></label>
                <input asp-for="NovelAuthor" class="form-control" />
                <span asp-validation-for="NovelAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
